.club {
  border: 1px solid var(--lightgray);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 20px;
  padding: 20px;

  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }

  .left {
    :nth-child(2) {
      margin: 10px 0px;
    }
  }

  .right {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
}
