app-solid-container-with-hover {
  margin-bottom: 20px;
  transition: .1s ease-out all;
}

.theme {
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0px;
  }

  p {
    margin: 0px;
  }

  .left {
    :nth-child(2) {
      margin: 10px 0px;
    }
  }
}
