.login-component {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  justify-content: center;
}

h1 {
  text-align: center;
}

.login {
  margin: 0 auto;
}

.register {
  margin: 20px auto;
}
