<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="left">
    <a class="nav-item nav-link" href="">BOOKWORMS</a>
    <a class="nav-item nav-link" routerLink="/clubs" *ngIf="session.getCurrentUser">Clubs</a>
    <a class="nav-item nav-link" routerLink="/stylepreview" *ngIf="session.getCurrentUser">Debug: Style preview</a>
  </div>
  <div class="right">
    <a class="nav-item nav-link" routerLink="/login" *ngIf="!session.getCurrentUser">Login</a>
    <div ngbDropdown display="dynamic" placement="bottom-end" class="d-inline-block">
      <a class="nav-item nav-link profile" id="dropdownBasic1" ngbDropdownToggle *ngIf="session.getCurrentUser"><fa-icon [icon]="'user-circle'"></fa-icon></a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/settings">Account Settings</button>
        <button ngbDropdownItem (click)="logout()">Log Out</button>
      </div>
    </div>
  </div>
</nav>

<!-- main content container -->
<div class="router-outlet-body">
  <router-outlet></router-outlet>
</div>
