$navbar_height: 40px;
$navbar_padding: 10px;

.navbar {
  display: flex;
  padding: $navbar_padding 20px;
  height: $navbar_height;
  justify-content: space-between;
  background: var(--olive) !important;
}

.navbar .left {
  display: flex;
}

.navbar .left a {
  margin-right: 10px;
}
.navbar .right a {
  margin-left: 10px;
}

.navbar .nav-item {
  color: white;
  text-decoration: none;
  transition: 0.2s all;
}
.navbar .nav-item:hover {
  color: var(--darkblue);
}
.navbar .nav-item .fas {
  color: white;
}

.router-outlet-body {
  height: calc(100% - #{$navbar_height + $navbar_padding + $navbar_padding});
}

.fa-user-circle {
  font-size: 25px;
}
