$navbar_height: 40px;
$navbar_padding: 10px;

.navbar {
  display: flex;
  padding: $navbar_padding 20px;
  height: $navbar_height;
  justify-content: space-between;
  background: var(--olive) !important;

  .left {
    display: flex;
    a {
      margin-right: 10px;
    }
  }

  .right {
    height: 40px;
    a {
      margin-left: 10px;
    }
  }

  .nav-item {
    color: white;
    text-decoration: none;
    transition: 0.2s all;

    &:hover {
      color: var(--sand);
    }

    .fas {
      color: white;
    }
  }

  .profile {
    padding: 0rem 1rem;
  }
}

.router-outlet-body {
  height: calc(100% - #{$navbar_height});
}

.ng-fa-icon {
  font-size: 25px;
}
