<div class="register-component full-height">
  <h1>Sign up for Book Club!</h1>
  <div class="input-pair">
    <input type="text" placeholder="Name" [(ngModel)]="firstName">
  </div>
  <div class="input-pair">
    <input type="text" placeholder="Email" [(ngModel)]="email">
  </div>

  <app-password-input [(password)]="password"></app-password-input>

  <button class="main-button register" (click)="registerUser()">Sign up</button>

  <div class="login">
    Already a member? <button class="main-button inline" (click)="login()">Login here</button>
  </div>
</div>
