<div class="home-component">
  <div class="row">
    <div class="left">
      <h3>My Clubs</h3>
      <button class="main-button inline new">+ new</button>
    </div>

    <div class="input-pair">
      <label for="sort">Sort by</label>
      <select name="sort" id="sort">
        <option value="join">Join date</option>
        <option value="alpha">Alphabetical</option>
        <option value="deadline">Upcoming Deadline</option>
      </select>
    </div>
  </div>

  <ng-container *ngFor="let club of clubs">
    <app-club [club]="club"></app-club>
  </ng-container>

</div>
