<div class="home-component">
  <div class="row">
    <div class="left">
      <h3>My Clubs</h3>
      <button class="main-button inline new">+ new</button>
    </div>

    <div class="input-pair">
      <label for="sort">Sort by</label>
      <select name="sort" id="sort">
        <option value="join">Join date</option>
        <option value="alpha">Alphabetical</option>
        <option value="deadline">Upcoming Deadline</option>
      </select>
    </div>
  </div>

  <div class="clubs">
    <div class="club">
      <div class="left">
        <h2>Alice's Book Club</h2>
        <p>Current theme: Eponymous</p>
        <p>Next deadline: discussion on Feb 6th</p>
      </div>
      <div class="right">
        <p>8 members</p>
        <button class="main-button inline new">View ></button>
      </div>
    </div>
  </div>
</div>
