<div class="style-preview-component">
  <div class="example"><h1>This is a h1 header</h1></div>
  <div class="example"><h2>This is a h2 header</h2></div>
  <div class="example"><h3>This is a h1 header</h3></div>
  <div class="example"><h4>This is a h1 header</h4></div>
  <div class="example"><h5>This is a h1 header</h5></div>

  <div class="example"><p>This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph.</p></div>

  <div class="example"><button class="main-button">Major button</button></div>

  <div class="example">Looking for an inline button? <button class="main-button inline">Here it is.</button></div>

  <div class="input-pair example">
    <input type="text" placeholder="An input">
  </div>

  <div class="input-pair example">
    <label>A dropdown</label>
    <select>
      <option value="volvo">Option 1</option>
      <option value="saab">Option 2</option>
      <option value="mercedes">Option 3</option>
      <option value="audi">Option 4</option>
    </select>
  </div>

</div>
