.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .left {
    display: flex;
    width: auto;
    align-items: center;
  }

  .input-pair {
    width: fit-content;
    margin-bottom: 0px;
  }
}

.panel-with-sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 15px;

  .left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    padding-right: 15px;

    h4 {
      padding-bottom: 20px;
      display: flex;
      align-content: center;
    }

    .new {
      margin-left: 10px;
      color: var(--olive);
      opacity: 0.7;
      font-size: 20px;

      :hover {
        opacity: 1;
      }
    }

    app-dotted-container {
      width: 100%;
      height: 200px;
    }
  }
}

.right {
  width: 250px;
  .members {

  }
  h4 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--lightgray);
  }
}

.closed-theme {
  padding-top: 15px;
}
