.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .left {
    display: flex;
    width: auto;
    align-items: center;
  }

  h3 {
    display: flex;
    align-items: center;
    .ng-fa-icon {
      padding-left: 10px;
      opacity: 0.7;
      font-size: 20px;

      :hover {
        opacity: 1;
      }
    }
  }
}

.panel-with-sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 15px;

  .left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    padding-right: 20px;

    h4 {
      padding-bottom: 20px;
      display: flex;
      align-content: center;
      .ng-fa-icon {
        padding-left: 10px;
        opacity: 0.7;
        font-size: 20px;

        :hover {
          opacity: 1;
        }
      }
    }

    app-dotted-container {
      width: 100%;
      height: 200px;
    }
  }
}

.right {
  width: 250px;
  .members {

  }
  h4 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--lightgray);
  }
}

.closed-theme-header {
  padding-top: 15px;
}

:host ::ng-deep .closed-theme {
  app-solid-container-with-hover {
    background-color: #F5F5F5;
    color: #505050;
    &:hover {
      background-color: #e6e6e6;
    }
  }
}

.no-themes-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    width: auto;
  }
}
