.theme-details-component {
  .deadlines {
    display: flex;
    justify-content: space-between;
    app-deadline {
      width: calc(30% - 10px);
      min-width: 200px;
    }
  }
}

.panel-with-sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 35px;

  .left {
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px);
    padding-right: 20px;

    h4 {
      padding-bottom: 20px;
      display: flex;
      align-content: center;
      .ng-fa-icon {
        padding-left: 10px;
        opacity: 0.7;
        font-size: 20px;

        :hover {
          opacity: 1;
        }
      }
    }

    app-dotted-container {
      width: 100%;
      height: 200px;
    }
  }
  .right {
    width: 250px;
    .members {

    }
    h4 {
      padding-bottom: 20px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--lightgray);
    }
  }
}

.no-themes-container {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    width: auto;
  }
}

.nomination-container {
  display: flex;
  gap: 20px;
}


// TODO this should be pulled out elsewhere
.search-bar {
  width: 100%;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.result {
  display: flex;
  gap: 10px;
  .result-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.book-cover {
  vertical-align: middle;
  width: 90px;

  &.bordered {
    border: 1px solid lightgray;
    width: 90px;
    height: 132px;
  }
}