<app-base-page>
  <div class="theme-details-component">
    <ng-container *ngIf="theme">
      <app-page-breadcrumbs>
        <app-breadcrumb [label]="club.name" route="{{'/clubs/' + club.id}}"></app-breadcrumb>
        <fa-icon [icon]="'chevron-right'"></fa-icon>
        <app-breadcrumb [label]="theme.name">
          <app-icon-button *ngIf="api.isCurrentUserAdminOfClub(clubId)"
                           [icon]="'pencil'"
                           (click)="themeModalComponent.editTheme(theme)"></app-icon-button>
        </app-breadcrumb>
      </app-page-breadcrumbs>
      <div class="row">
        <p *ngIf="theme.description">{{ theme.description }}</p>
        <div class="deadlines">
          <app-deadline [date]="theme.nominationDeadline" [percentage]="theme.startDate | deadlinePercentage : theme.nominationDeadline" [stage]="ThemePhase.NOMINATE"></app-deadline>
          <app-deadline [date]="theme.votingDeadline" [percentage]="theme.nominationDeadline | deadlinePercentage : theme.votingDeadline" [stage]="ThemePhase.VOTE"></app-deadline>
          <app-deadline [date]="theme.readingDeadline" [percentage]="theme.votingDeadline | deadlinePercentage : theme.readingDeadline" [stage]="ThemePhase.READ"></app-deadline>
        </div>
      </div>

      <div class="panel-with-sidebar">
        <div class="left">
          <h4>Nominated Books</h4>
<!--          <ng-container *ngFor="let theme of openThemes">
            <app-theme-summary [theme]="theme" [clubId]="id"></app-theme-summary>
          </ng-container>-->
          <app-dotted-container *ngIf="!nominations?.length">
            <div class="no-themes-container">
              <p>No nominations have been added</p>
              <button class="secondary-button">+ Add Nomination</button>
            </div>
          </app-dotted-container>
        </div>

        <div class="right" *ngIf="members && members.length > 0">
          <div class="members">
            <h4>Members</h4>
            <ng-container *ngFor="let member of members">
              <h6>{{ member.firstName }} {{ member.lastName ? member.lastName[0] : '' }} {{ member.isAdmin ? '(admin)' : '' }}</h6>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-base-page>

<app-theme-modal (refreshEvent)="refreshWithUpdatedTheme($event)"></app-theme-modal>
