/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Begin font imports */
@font-face {
  font-family: RobotoSlab-Bold;
  src: url("assets/fonts/RobotoSlab/RobotoSlab-Bold.ttf") format("truetype");
}
@font-face {
  font-family: RobotoSlab-Light;
  src: url("assets/fonts/RobotoSlab/RobotoSlab-Light.ttf") format("truetype");
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url("assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: RobotoSlab-Thin;
  src: url("assets/fonts/RobotoSlab/RobotoSlab-Thin.ttf") format("truetype");
}

.full-height {
  height: 100%;
}

/* Begin color definitions */
:root {
  --lightgray: #B6B6B6;
  --gray: #949494;
  --darkblue: #0F5880;
  --green: #00A42E;

  --black: #1F1F1F;
  --white: #EEF2F3;
  --olive: #5A6940;
  --gold: #C29A51;
  --sand: #FCE5C9;
  --salmon: #DBA18B;
}

/* Begin global styles */
body {
  font-family: RobotoSlab-Regular;
  color: var(--black);
  margin: 0px;
}

h1 {
  font-family: RobotoSlab-Bold;
}

h3 {
  color: var(--gray);
}

.main-button {
  background-color: var(--darkblue);
  color: white;
  width: inherit;
  padding: 10px;
  font-family: RobotoSlab-Regular;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.main-button.inline {
  background-color: transparent;
  color: var(--darkblue);
  padding: 0px 0px 0px 5px;
  font-size: 16px;
}
.main-button.inline:hover {
  transition: 0.2s all;
  font-family: RobotoSlab-Bold;
}

input {
  border: 1px solid var(--lightgray);
  border-radius: 6px;
  // height: 25px;
  font-family: RobotoSlab-Regular;
  padding: 10px;
}
input:focus {
  border: 1px solid var(--darkblue);
}

select {
  border: 1px solid var(--lightgray);
  border-radius: 6px;
  // height: 25px;
  font-family: RobotoSlab-Regular;
  padding: 10px;
}

.input-pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    color: var(--lightgray);
    font-size: 14px;
  }
}
