<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ isEdit ? 'Edit' : 'Create' }} Club</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close(ModalResults.CANCEL)"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="clubForm">
      <div class="modal-body">
        <div class="mb-3">
          <label for="club-name" class="col-form-label">Name</label>
          <input type="text" class="form-control" id="club-name" formControlName="name" required>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button *ngIf="isEdit" type="button" class="btn btn-danger" (click)="modal.close(ModalResults.DELETE)">Delete</button>
    <button type="button" class="btn btn-primary"
            [disabled]="clubForm.invalid"
            (click)="modal.close(ModalResults.SAVE)">
      {{ isEdit ? 'Save' : 'Create' }}
    </button>
    <button type="button" class="btn btn-light" (click)="modal.close(ModalResults.CANCEL)">Cancel</button>
  </div>
</ng-template>
