<div class="home-component">
  <div class="row">
    <div class="left">
      <h3>My Clubs</h3>
      <button class="main-button inline new" data-bs-toggle="modal" data-bs-target="#new-theme"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
    </div>

    <div class="input-pair">
      <label for="sort">Sort by</label>
      <select name="sort" id="sort">
        <option value="join">Join date</option>
        <option value="alpha">Alphabetical</option>
        <option value="deadline">Upcoming Deadline</option>
      </select>
    </div>
  </div>

  <ng-container *ngFor="let club of clubs">
    <app-club-summary [club]="club"></app-club-summary>
  </ng-container>

</div>

<div class="modal fade new-theme-modal" id="new-theme" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a theme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="newClubForm" (ngSubmit)="createClub()">
        <div class="modal-body">
          <div class="mb-3">
            <label for="club-name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="club-name" formControlName="name" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="newClubForm.invalid">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
