<app-base-page>
  <div class="row">
    <div class="left">
      <h3>My Clubs</h3>
      <button class="main-button inline new">
        <fa-icon icon="plus-circle"
                 (click)="clubModalComponent.createClub()"></fa-icon>
      </button>
    </div>

    <div class="input-pair">
      <label for="sort">Sort by</label>
      <select name="sort" id="sort">
        <option value="join">Join date</option>
        <option value="alpha">Alphabetical</option>
        <option value="deadline">Upcoming Deadline</option>
      </select>
    </div>
  </div>

  <ng-container *ngFor="let club of clubs">
    <app-club-summary [club]="club"></app-club-summary>
  </ng-container>

  <app-dotted-container *ngIf="!clubs?.length">
    <div class="no-themes-container">
      <p>No clubs have been added</p>
      <button class="secondary-button" (click)="clubModalComponent.createClub()">+ Add Club</button>
    </div>
  </app-dotted-container>
</app-base-page>

<app-club-modal (refreshEvent)="refreshWithNewClub($event)"></app-club-modal>
