.home-component {
  .row {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: row;

    .left {
      display: flex;
      width: auto;
      align-items: flex-end;

      h3 {
        margin: 0px;
      }

      .new {
        margin-left: 10px;
        color: var(--green);
        transition: 0.2 all;
        opacity: 0.4;

        :hover {
          opacity: 1;
        }
      }
    }
    .input-pair {
      margin-bottom: 0px;
      width: fit-content;
    }
  }
}
