.row {
  display: flex;
  padding-bottom: 20px;
  align-content: flex-end;
  justify-content: space-between;
  flex-direction: row;

  .left {
    display: flex;
    width: auto;
    align-items: center;

    h3 {
      margin: 0px;
    }

    .new {
      margin-left: 10px;
      color: var(--olive);
      opacity: 0.7;
      font-size: 20px;

      :hover {
        opacity: 1;
      }
    }
  }
  .input-pair {
    margin-bottom: 0px;
    width: fit-content;
  }
}
