app-solid-container-with-hover {
  margin-bottom: 20px;
  transition: .1s ease-out all;
}

.club {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }

  .left {
    :nth-child(2) {
      margin: 10px 0px;
    }
  }

  .members {
    display: flex;
    .ng-fa-icon {
      padding-left: 5px;
    }
  }
}
.ng-fa-icon {
  color: var(--olive);
  opacity: 0.7;
}
