.club {
  border: 1px solid var(--lightgray);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 20px;
  padding: 20px;
  transition: .1s ease-out all;

  &:hover {
    cursor: pointer;
    border: 1px solid var(--darkblue);
  }

  h2 {
    margin: 0px;
  }
  p {
    margin: 0px;
  }

  .left {
    :nth-child(2) {
      margin: 10px 0px;
    }
  }

  .members {
    display: flex;
    .ng-fa-icon {
      padding-left: 5px;
      color: var(--olive);
      opacity: 0.7;
    }
  }
}
